<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}pcb_drill_web client{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
      <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
        <!-- TODO add from menu -->
           <a class="navbar-brand" href="/">pcb_drill</a>
       </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for item in g._nav_menu_items %}
            {% if item.is_menu_item %}
                <li{% if item.active %} class="active"{% endif %}><a href="{{ item.href|e}}">{{ item.title|e }}</a>
            {% else %}
                <li class="dropdown"{% if item.active %} class="active"{% endif %}>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ item.title|e}} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% for subitem in item %}
                        <!--<li class="divider"></li>-->
                        <li{% if subitem.active %} class="active"{% endif %}><a href="{{ subitem.href|e}}">{{ subitem.title|e }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% else %}
        <span style="color: white;">Oops, No menu was defined</span>
        {% endfor %}
      </ul>
<!--
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->


    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="warning">{{message}}</div>
        {% endfor %}
        {% block content %}{% endblock %}
        <div id="footer">
        <br>
        <br>
        <br>
        {% block footer %}<small>Rendered on {{ current_date }}</small>{% endblock %}
        </div> <!-- /footer -->
    </div> <!-- container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <!-- Theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  </body>
</html>
