<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pcb_drill_web client</title>

    <!-- Bootstrap <link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  </head>
  <body>
    <div class="container">
        <h1>Welcome to pcb_drill_web interface on the Raspberry Pi</h1>
        <p>This will walk you through the process of generating the gcode
        from a solder mask and a live image of the PCB Bed.</p>

     

 a solder mask which will be
        the basis of the drill holes.</p>


        <div style="border: 1px solid #e1e1e8; padding: 1px 14px;">
            <h2>Step 1: Upload live image</h2>
            <form role="form" enctype="multipart/form-data" action="/soldermask" method="post">
                <div class="form-group">
                    <label for="upload_file">Solder Mask Upload:</label>
                    <input type="file" name="image" id="upload_file">
                    <p class="help-block">Supported files: JPEG,PNG,TIFF,GIF</p>
                </div>
                <div class="checkbox">
                    <label>
                        <input id="capture" type="checkbox">Or Capture from RPi Camera
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Upload</button>
            </form>
        </div>
        

        <small>Rendered on {{ current_date }}</small>
    

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed 
        <script src="js/bootstrap.min.js"></script> -->

        <!-- Optional theme -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </div>
  </body>
</html>
